<h1>Movies & books API</h1>

<form>
    <label for="title">Title</label>
    <input id="title" name="title" type="text" value="{{form.title}}">

    <label for="year">Year</label>
    <input id="year" name="year" type="number" value="{{form.year}}">

    <label for="plot">Plot</label>
    <select id="plot" name="plot">
        <option selected value="full">Full</option>
        <option value="short">Short</option>
    </select>

    <input name="action" type="hidden" value="getMovie">

    <button type="submit">Search movie</button>
</form>

<form>
    <label for="isbn">ISBN</label>
    <input id="isbn" name="isbn" type="text" value="{{form.isbn}}">

    <input name="action" type="hidden" value="getBook">

    <button type="submit">Search book</button>
</form>

{% if isSearch %}
    <div id="results">
        <h2>Result:</h2>
        {% if data is empty %}
        <p>No results</p>
        {% else %}
        <pre style="white-space: pre-wrap;">
{{ data }}
        </pre>
        {% endif %}
    </div>
{% endif %}