<form method="POST" action="http://php-server.local:8080/login">
    <label for="username">Username: </label>
    <input id="username" name="username" type="text">
    <br>
    <label for="password">Password: </label>
    <input id="password" name="password" type="password">

    <input name="redirectTo" type="hidden" value="http://php-client.local:8080/setToken">

    <br>
    <button type="submit">Login</button>
</form>